<?php
/**
 * @var Magento\Framework\View\Element\Template $block
 */
?>
<div id="store-notification-inline" data-bind="scope: 'store-notification-inline'">
    <div data-bind="if: showInline()">
        <div class="modal">
            <h1><span data-bind="text: title"></span></h1>
            <div class="content" data-bind="html: content"></div>
        </div>
    </div>
</div>

<script type="text/x-magento-init">
    {
        "#store-notification-inline": {
            "Magento_Ui/js/core/app": <?php echo $block->getJsLayout() ?>
        }
    }
</script>
