<?php
/**
 * @var Magento\Framework\View\Element\Template $block
 */
?>
<div id="modal-content">
    <div id="store-notification-inline" data-bind="scope: 'store-notification-inline'">
        <div data-bind="if: showInline()">
            <div class="modal">
                <h1><span data-bind="text: title"></span></h1>
                <div class="content" data-bind="html: content"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/x-magento-init">
    {
        "#store-notification-inline": {
            "Magento_Ui/js/core/app": <?php echo $block->getJsLayout() ?>
        }
    }
</script>

<script>
require(
    [
        'jquery',
        'Magento_Ui/js/modal/modal'
    ],
    function($, modal) {
        var options = {
            type: 'popup',
            responsive: true,
            innerScroll: true,
            buttons: [{
                text: $.mage.__('Close'),
                class: 'modal-close',
                click: function (){
                    this.closeModal();
                }
            }]
        };

        modal(options, $('#modal-content'));
        $("#modal-btn").on('click',function(){
            $("#modal-content").modal("openModal");
        });

        $(document).ready(function(){

            var myCookie = getCookie("store-notification-seen");
            if (myCookie == null) {
                $("#modal-content").modal("openModal");
                setCookie('store-notification-seen', 'seen', 1);
            }

            function getCookie(name) {
                var dc = document.cookie;
                var prefix = name + "=";
                var begin = dc.indexOf("; " + prefix);
                if (begin == -1) {
                    begin = dc.indexOf(prefix);
                    if (begin != 0) return null;
                }
                else
                {
                    begin += 2;
                    var end = document.cookie.indexOf(";", begin);
                    if (end == -1) {
                    end = dc.length;
                    }
                }
                // because unescape has been deprecated, replaced with decodeURI
                //return unescape(dc.substring(begin + prefix.length, end));
                return decodeURI(dc.substring(begin + prefix.length, end));
            } 

            function setCookie(name,value,days) {
                var expires = "";
                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime() + (days*24*60*60*1000));
                    expires = "; expires=" + date.toUTCString();
                }
                document.cookie = name + "=" + (value || "")  + expires + "; path=/";
            }

        });
    }
);
</script>